* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 1460px;
  margin: auto;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.nav-wrap img.logo {
  width: 100%;
}
.nav-wrap .menu ul {
  display: flex;
}
.nav-wrap .menu ul li {
  list-style: none;
  margin: 0px 10px;
}
.nav-wrap .menu ul li a {
  text-decoration: none;
  color: black;
}
.nav-wrap .access-btn button {
  border: none;
  background-color: #30b868;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero section css*/
.hero-section {
  background-image: url("../assets/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.hero-section h5 {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  color: #136454;
  border-radius: 5px;
  display: flex;
  max-width: 200px;
  margin: auto;
}
.hero-section h1 {
  font-size: 72px;
  color: #ffffff;
}
.hero-section span {
  color: #30b868;
}
.hero-section p {
  color: #ffffff;
}
.hero-section .hero-btn-wrap {
  display: flex;
  justify-content: center;
}
.hero-section img {
  width: 20px;
  margin: 0px 10px;
}
.hero-section button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  margin: 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  background-color: #30b868;
  cursor: pointer;
}
.hero-section .withoutbg {
  background-color: transparent;
  border: 1px solid white;
}
/* Structure css*/
.structure {
  margin: auto;
  padding: 50px 0px;
}
.structure .container {
  text-align: center;
}
.structure h2 {
  font-size: 48px;
}
.structure p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
}
.structure .card h3 {
  font-size: 24px;
  margin: 14px 0px;
  color: rgb(0, 25, 49);
}
.structure .card-wrap {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.structure .card-wrap .card {
  box-shadow: 1px 1px 7px 2px #efecec;
  padding: 24px;
  border-radius: 5px;
}
.structure img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 20px;
  margin-top: 17px;
}

/*SOLUTION SECTION */
.solution-section .solution-wrap .container {
  display: flex;
  align-items: center;
  color: rgb(0, 25, 49);
  gap: 70px;
}

.solution-section .icon-list {
  display: flex;
  margin-top: 8px;
  color: rgba(98, 115, 130, 1);
}
.solution-section .icon-list img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.solution-section .secondery-color {
  color: rgba(70, 145, 101, 1);
}
.solution-section h1 {
  margin: 20px 0px;
}
.solution-section .ex-gap {
  margin: 20px 0px;
  max-width: 400px;
}

/*Get early section*/
.get-early {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 100px 0px;
}
.get-early .container {
  background-color: rgba(247, 246, 242, 1);
  margin: auto;
  padding: 50px 0px;
  border-radius: 5px;
}
.get-early button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30b868;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
}
.get-early button img {
  margin-left: 10px;
}

.get-early .btn-div {
  display: inline-block;
  margin: auto;
  text-align: center;
  margin: 10px 0px;
}
.get-early p {
  margin: 10px 0px;
  color: rgba(98, 115, 130, 1);
}
.get-early b {
  margin: 10px 0px;
}

/*footer*/
footer {
  background-color: rgba(0, 25, 49, 1);
  padding-top: 120px;
  padding-bottom: 20px;
}
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
footer ul li {
  list-style: none;
}
footer ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
footer ul li {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  gap: 20px;
  color: black;
  width: 20px;
  height: 20px;
  text-align: center;
}
.footer-content {
  border-top: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.footer-wrap {
  margin-bottom: 50px;
}
