* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1460px;
  margin: auto;
  text-align: center;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.nav-wrap img.logo {
  width: 100%;
}
.nav-wrap .menu ul {
  display: flex;
}
.nav-wrap .menu ul li {
  list-style: none;
  margin: 0px 10px;
}
.nav-wrap .menu ul li a {
  text-decoration: none;
  color: black;
}
.nav-wrap .access-btn button {
  border: none;
  background-color: #30b868;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero section css*/
.hero-section {
  background-image: url("../assets/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.hero-section h5 {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  color: #136454;
  border-radius: 5px;
  display: flex;
  max-width: 200px;
  margin: auto;
}
.hero-section h1 {
  font-size: 72px;
  color: #ffffff;
}
.hero-section span {
  color: #30b868;
}
.hero-section p {
  color: #ffffff;
}
.hero-section .hero-btn-wrap {
  display: flex;
  justify-content: center;
}
.hero-section img {
  width: 20px;
  margin: 0px 10px;
}
.hero-section button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  margin: 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  background-color: #30b868;
  cursor: pointer;
}
.hero-section .withoutbg {
  background-color: transparent;
  border: 1px solid white;
}
/* Structure css*/
.structure {
  margin: auto;
  padding: 50px 0px;
}
.structure h2 {
  font-size: 48px;
}
.structure p {
  color: rgba(98, 115, 130, 1);
  font-size: 16px;
}
.structure .card h3 {
  font-size: 24px;
  margin: 14px 0px;
  color: rgb(0, 25, 49);
}
.structure .card-wrap {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.structure .card-wrap .card {
  box-shadow: 1px 1px 7px 2px #efecec;
  padding: 24px;
  border-radius: 5px;
}
.structure img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 20px;
  margin-top: 17px;
}
